<html>
  <head>
    Reporte semanal
  </head>
  <p>
    Este es un correo automatizado. Se envian en documento adjunto los contactos recopilados en las ultimas ${{ syncIntervalWeeks || 2 }} semanas.

    Para cualquier duda favor de enviar mensaje a torresmoisesa@gmail.com.
  </p>
</html>
